<!DOCTYPE html>
<html lang='en'>


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Francis Tan, MBA</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <!-- <link href="main.css" rel="stylesheet"> -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</head>


<body>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K4B9ZC"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-K4B9ZC');</script>
<!-- End Google Tag Manager -->


<!-- Navigation Bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavcontent" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar&#45;brand" href="/">Francis Tan</a> -->
        </div>

        <div class="collapse navbar-collapse" id="mynavcontent">
            <ul class="nav navbar-nav">
                <li><a href="https://github.com/ftan84" target="_blank">GitHub</a></li>
                <li><a href="https://www.linkedin.com/pub/francis-tan/4/9a8/ba5" target="_blank">LinkedIn</a></li>
                <li><a href="{{ url_for('static', filename='files/resume.pdf') }}" target="_blank">Resume</a></li>
                <li><a href="mailto:francis.adrian.tan@gmail.com">Email</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main headline section in jumbotron container -->
<div class="jumbotron">
<div class="container">
<h2>Francis Tan, MBA</h2>
<h4>
<!--I am an aspiring Data Scientist with a passion for all things data. With a B.S. in Computer Science and an MBA, I have the technical know-how and the big picture perspective on the data-related questions to help drive business needs.-->
I am an aspiring Data Scientist with an MBA and a B.S. in Computer Science. I am passionate about data and possess the technical skills and big picture perspective to solve complex business problems.
</h4>
</div>
</div>

<!-- Block content goes here -->
{% block content %}{% endblock %}
</body>

</html>
